.navbar__list
{
    list-style: none;
    position: sticky;
    top: var(--topbar-menu-height);
}
.navbar__item
{
    padding: 1rem;
}
.navbar__link > span
{
    display: none;
}
.navbar__link > svg
{
    width: 1rem;
    height: 1rem;
}
@media screen and (min-width: var(--screen-size-lg-lower))
{
    .navbar__list
    {
        top: var(--header-height);
    }
    .navbar__link > span
    {
        display: inline;
    }
}